.address {
  margin-top: 48px;

  &__label {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: $color-label;
    padding-bottom: 8px;
  }

  &__content {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: $color-content;
    padding-bottom: 24px;
  }
}
