@use '../utils/mixins.scss' as *;

.burger {
  &::before {
    content: '';
    background-image: url(../images/images-nothing/burger-menu.svg);
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 12px;
  }

  &::after {
    content: '';
    background-image: url(../images/images-nothing/burger-menu-hover.svg);
    background-size: cover;
    width: 18px;
    height: 12px;
  }


  &:hover {
    &::before {
      display: none;
    }
    &::after {
      display: inline-block;
    }
  }

  &__label {
    @include visually-hiden;
  }
}
