@use '../utils/mixins.scss' as *;

.button {
  border: 2px solid $color;
  border-radius: 8px;
  background-color: $color;
  color: $button-color;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 56px;
  line-height: 56px;
  margin-top: 40px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

@include for-desktop {
  .button {
    width: 324px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
