@use '../utils/mixins.scss' as *;

.contact-us {
  &__content {
    display: grid;
    gap: 48px;

    @include for-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 111px;
    }
  }
}
