.contact-us__button {
  width: 100%;
  height: 56px;
  padding: 0 48px;

  border: 2px solid $border-color;
  border-radius: 8px;

  background-color: $background;

  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: $color;

  cursor: pointer;
}

.contact-us__button:hover {
  background-color: $color;
  color: $background;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
