@use '../utils/mixins.scss' as *;

.footer {
  margin-inline: -20px;
  padding-top: 96px;

  &__footers {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include for-desktop {
      height: 460px;
    }
  }

  @include for-desktop {
    margin-inline: -120px;
  }
}
