@mixin visually-hiden() {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;

  &__input {
    background: $background;
    border-radius: 8px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;

    &::placeholder {
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-style: regular;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: $color-form;
    }
  }

  &__textarea {
    background: $background;
    border-radius: 8px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 16px;

    &::placeholder {
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-style: regular;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: $color-form;
    }
  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hiden();
    }
  }
}
