@use '../utils/mixins.scss' as *;

.links {
  padding-top: 32px;

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 2px;
    color: $color;
    display: flex;
    align-items: center;
    text-decoration: none;

    &--products {
      @include for-desktop {
        display: inline-block;
        cursor: default;
        border-bottom: 1px solid $color;
        padding-bottom: 4px;
      }
    }
  }
}
