@use '../utils/mixins.scss' as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  background-color: $menu-color;
  padding: 0 20px 20px;
  min-height: 100vh;

  @include grid;

  align-content: start;

  &:target {
    transform: translateX(0);
  }

  &__navigation {
    grid-column: span 2;

    @include for-desktop {
      grid-column: span 12;
      margin-left: 120px;
    }
  }

  &__links {
    margin-bottom: 48px;
    grid-column: span 2;

    @include for-desktop {
      grid-column: span 12;
      margin-left: 120px;
    }
  }

  &__paragraph {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;

    grid-column: span 2;

    @include for-desktop {
      grid-column: span 12;
      margin-left: 120px;
    }
  }

  &__call-link {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $color;
  }
}
