@use '../utils/mixins.scss' as *;

.person {
  &__photo {
    display: block;
    margin-top: 40px;
    width: 100%;
    height: auto;
  }

  &__name {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0;

    color: $color;
    margin-top: 24px;
  }

  &__description {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: $color;
    margin-top: 8px;

    &--desktop {
      display: none;
    }

    @include for-desktop {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  &__price {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: bold;
    line-height: 140%;
    letter-spacing: 0;

    color: $color;
    margin-top: 12px;
  }
}
