@use '../utils/mixins.scss' as *;

.phone {
  &__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    color: $color;
    transform: translateX(calc(-100% - 20px));
  }

  &:not(:hover) &__label {
    @include visually-hiden;
  }
}
