@use '../utils/mixins.scss' as *;

.recommended {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @include for-desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}
