@mixin for-desktop() {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: reapet(2, 130px);
  gap: 20px;

  @include for-desktop {
    grid-template-columns: reapet(12, 63px);
    gap: 24px;
  }
}

@mixin visually-hiden() {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
